.tooltip {
    background: #1f202f !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #ffffff !important;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: 1 !important;
    padding: 1.5rem;
    text-transform: capitalize;
}

.__react_component_tooltip.type-dark.place-bottom:after {
    border-bottom-color: #1f202f;
}

.__react_component_tooltip.type-dark.place-top:after {
    border-top-color: #1f202f;
}
